<h1>{{title}}</h1>
<h4>Books</h4>

<table border="1">
      <tr>
                <th>ID</th>
                <td>Title</td>
                <td>ISBN</td>
                <td>published Date</td>
                <td>Author</td>
            </tr>
             {{#each bookMembers}}
         <tr>
             <td>{{this.id}}</td>
             <td>{{this.title}}</td>
             <td>{{this.ISBN}}</td>
             <td>{{this.publishedDate}}</td>
             <td>{{this.author}}</td>
         </tr>
   {{/each}}
</table>